ENABLE_ENCRYPTION=False
ENCRYPTION_KEY=436063a27bc4947562832fae9c21ca2409b37b85835b1860511a9eacf2302baa
PASSWORD=
PORT=
PRODUCTION_MODE= False  #True in Production
DEBUG=True  # False in production

# Google ReCAPTCHA
SITE_KEY = 
SECRET_KEY = 
RECAPTCHA_VERSION="v3"
RECAPTCHA_MIN_SCORE="0.5"
RECAPTCHA_ENABLED=False  # False or True


# Oauth (Google OAuth client - from Google Cloud Console)
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
