#RajPAccount
#DATABASE_URL= ""

# MoneyLogger
DATABASE_URL = ""
ENABLE_ENCRYPTION=""
ENCRYPTION_KEY=""
PASSWORD=""
PORT=""
PRODUCTION_MODE="" # False or True

# Google ReCAPTCHA
RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""
RECAPTCHA_ENABLED="true"
RECAPTCHA_VERSION="v3"
RECAPTCHA_MIN_SCORE="0.5"

# Backward-compatible (old names)
SITE_KEY=""
SECRET_KEY=""
RECAPTCHA_ENABLED=""  # False or True


# Oauth 
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_SECRET=your_client_secret